MODE=test

POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_NAME=test-agrow
POSTGRES_USER=postgres
POSTGRES_PASS=psql_password

SECRET_KEY=test_secret_key
ALGORITHM=HS256
ACCESS_TOKEN_LIFETIME=15
REFRESH_TOKEN_LIFETIME=7

SEND_GRID_API_KEY=fake_send_grid_api_key
FROM_EMAIL=noreply@agrow.asia
EMAIL_CONFIRMATION_TEMPLATE_ID=fake_email_template_id
PASSWORD_RESET_TEMPLATE_ID=fake_password_template_id

RESEND_API_KEY=fake_resend_api_key
RESEND_FROM_EMAIL="AGROW <support@agrow.asia>"

MINIO_ENDPOINT=minio:9000
MINIO_ROOT_USER=minio_test_admin
MINIO_ROOT_PASSWORD=minio_test_secret
MINIO_BUCKET_NAME=agrow-test-bucket
MINIO_SECURE_CONFIG=False

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=1
REDIS_PASSWORD=test_redis
